---
layout: default
---

{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
{% if site.pitch == null %}
  {% assign div_class = "home" %}
{% else %}
  {% assign div_class = "home pitch" %}
{% endif %}
{% include head.html %}
<style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>

<div class="{{ div_class }}">
    <article class="about-col about-col-2" itemscope itemtype="http://schema.org/BlogPosting">
        <h1>{{ page.title | escape }}</h1>
    </article>
    <article>
        {{ content }}
    </article>
    
</div>



